
/* MAIN */

*
{
  margin: 0;
}
body
{
  flex-direction: column;
  display: flex;
  font-family: 'Inter';
}
a
{
  text-decoration: none;
}
p, span, h1, h2
{
  cursor: default;
}



/* GLOBAL */
@keyframes slideLeft {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes live1 {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(6px, -7px);
  }
  40% {
    transform: translate(8px, -4px);
  }
  60% {
    transform: translate(-4px, 6px);
  }
  80% {
    transform: translate(-8px, -4px);
  }
  100% {
    transform: translate(4px, -2px);
  }
}
@keyframes live2 {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-9px)
  }
  100% {
    transform: translateY(-1.5px)
  }
}
@keyframes live_extra {
  0%
  {
    transform: translate(0in, 0in);
  }
  50%
  {
    transform: translate(-.2in, -.2in);
  }
  100%
  {
    transform: translate(0in, 0in);
  }
}
@keyframes live_comment {
  0%
  {
    transform: translate(0in, 0in);
  }
  50%
  {
    transform: translate(.05in, .2in);
  }
  100%
  {
    transform: translate(0in, 0in);
  }
}
.flex
{
  display: flex;
  flex-direction: column;
}

.separator
{
  opacity: 0.15;
  border: 1.5px solid #707070;
}
.loader
{
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 1;
  transition: 1s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loader_title
{
  font-weight: 600;
  font-size: 52px;
  line-height: 39px;
  color: #06C167;
  text-align: center;
}
.loader_subtitle
{
  margin-top: 15px;
  font-weight: 500;
  font-size: 30px;
  line-height: 142.4%;
  color: rgba(29, 29, 31, 0.75);
  text-align: center;
}
.loader_subsubtitle
{
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 142.4%;
  color: rgba(29, 29, 31, 0.75);
  text-align: center;
  transition: .5s;
  opacity: 1;
}
.container
{
  max-width: 1170px;
  width: 90%;
  height: 100%;
  margin: auto;
}
.container_flex
{
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 90%;
  height: 100%;
  margin: auto;
}
.button
{
  color: white;
  padding: 25px 30px;
  margin: 30px auto 0 0;
  background: #06C167;
  display: block;
  transition: 0.7s;
}
.button:hover
{
  background: #0ea55c;
}
.button:hover .button_arrow
{
  transform: translateX(.06in);
}
.button:active
{
  transition: .1s;
  background: #1b4f36;
}
.button:active .button_arrow
{
  transition: 0.3s;
  transform: translateX(.1in);
}
.button_arrow
{
  opacity: 1;
  transition: 0.7s;
  width: 23px;
  margin-left: 28px;
}



/* HEAD */

.navigation_bar
{
  z-index: 1000;
  width: 100%;
  height: 61px;
  margin-top: -61px;
  transition: .8s;
  position: fixed;
  display: flex;
  justify-content: center;
}
.navigation_bar_content
{
  background: rgba(243, 252, 247, 0.6);
  height: 100%;
  width: 90%;
  max-width: 1177px;
  border-radius: 31.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 27.5px;
  transition: box-shadow .6s ease-in-out;

  backdrop-filter: blur(7px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.intro
{
  height: 663px;
  width: 100%;
  background: #F3FCF7;
  margin-bottom: 248px;
}
.intro_title
{
  max-width: 533px;
  font-weight: 600;
  font-size: 75px;
  line-height: 91px;

  color: #1D1D1F;
  transition: 1s;
  margin-top: 112px;
  animation: 1.3s 0s 1 slideRight;
}
.intro_subtitle
{
  max-width: 533px;
  margin-top: 11px;
  font-weight: 400;
  font-size: 16px;
  line-height: 142.4%;
  color: rgba(29, 29, 31, 0.75);
  animation: 1.3s .2s 1 slideRight;
  transition: 1s;
}
.intro_button_anim
{
  animation: 1.3s .4s 1 slideRight;
}
.intro_leftblock
{
  display: flex;
  flex-direction: column;
}
.intro_content
{
  display: flex;
  justify-content: space-between;
}

/* image */
.intro_image
{
  min-height: 634px;
  width: 100%;
  object-fit: cover;
  animation: 7s ease-in-out 1s infinite alternate live2;
  clip-path: polygon(0 0, 100% 0, 100% 94.32%, 0% 100%);
  border-radius: 10px;
}
.intro_image_container
{
  margin-top: 64px;
  position: relative;
  width: 40%;
  transition: 1.5s ease-in-out;
  animation: 1.3s 0s 1 slideLeft;
}
.intro_image_extra
{
  width: 174px;
  position: absolute;
  bottom: -17px;
  right: -39px;
  animation: 7s ease-in-out 1s infinite alternate live_extra;
}
@media (min-width: 960px)
{
  .intro_image_ratings
  {
    top: 294px;
    left: -90px;
  }
  .intro_image_review
  {
    top: 203px;
    right: -42px;
  }
}
.intro_image_ratings
{
  animation: 7s ease-in-out 1s infinite alternate live_comment;
  position: absolute;
  border-radius: 27px;
  display: flex;
  width: 230px;
  height: 54px;
  background: white;
}
.intro_image_review
{
  animation: 7s ease-in-out 1s infinite alternate live_comment;
  position: absolute;
  border-radius: 27px;
  display: flex;
  width: 230px;
  height: 54px;
  background: white;
}
.intro_image_ratings .star
{
  width: 15px;
  height: 15px;
  margin: auto 0 auto 6px;
}
.intro_image_ratings .text
{
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: auto 9px auto 19px;
}
.intro_image_review .avatar
{
  width: 40px;
  border-radius: 50%;
  margin: 7px;
}
.intro_image_review .text
{
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #1D1D1F;
  margin: auto 0 auto 6px;
}

/* navbar*/
.intro_navbar
{
  margin: 42px auto 0 auto;
  display: flex;
  justify-content: space-between;
  animation: 1.3s .1s 1 slideBottom;
}
.intro_links
{
  display: flex;
}
.intro_link
{
  margin: auto 0 auto 0;
  line-height: 19px;
  transition: .2s;
  color: #1D1D1F;
  padding: 1em 19px;
}
.intro_link:hover
{
  color: #06C167;
}
.intro_link::after
{
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #06C167;
  margin: -6px auto 0 auto;
  opacity: 0;
  transition: .5s;
}
.intro_link:hover:after
{
  transform: translateY(12px);
  opacity: 1;
}
.intro_navbar_title
{
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #06C167;
  margin: auto 0;
}

/* features */
.intro_featureblock
{
  display: flex;
  justify-content: space-between;
  margin: -72px 47px 0 0;
  width: 48%;
  animation: 1.4s .1s 1 slideTop;
}
.intro_featureblock .feature
{
  height: 36px;
}



/* RELATIONS */
.rel
{
  display: inline-flex;
  margin: 57px 22px 57px 0;
  height: 70px;
  transition: .9s;
}
.rel:hover
{
  transition: .7s;
}
.rel_icon
{
  width: 32px;
  transition: .9s;
}
.rel:hover .rel_icon
{
  transform: scale(115%);
}
.rel_icon_big
{
  width: 38px;
  transition: .9s;
}
.rel:hover .rel_icon_big
{
  transform: scale(115%);
}
.rel_icon_background
{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: #F3FCF7;
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
  margin-right: 22px;
  transition: .7s;
}
.rel:hover .rel_icon_background
{
  background: #e3f4eb;
}
.rel_texts
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rel_title
{
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 18px;
  color: #1D1D1F;
}
.rel_subtitle
{
  font-weight: 500;
  font-size: 14px;
  color: #1D1D1F;
  opacity: 0.75;
}



/* BLOCK ONE */
.b1_container
{
  color: #1D1D1F;
  margin-top: 132px;
}

/* image */
.b1_image_back
{
  background: #F3FAFB;
  transition: .8s;
  margin: 0 40px auto 0;
}
.b1_image_back:hover
{
  transform: translateY(-30px);
  transition: .9s;
}
.b1_image
{
  width: 445px;
  height: 513px;
  object-fit: cover;
  margin: 0 48px 95px 48px;
  transition: .8s;
}
.b1_image_back:hover .b1_image
{
  transform: translateY(60px);
  transition: .9s;
}
.b1_adapt_margin
{
  margin-left: 20px;
}

/* text */
.b1_abovetitle
{
  margin-top: 89px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  transition: .8s;
  z-index: 2;
  position: relative;
}
.b1_title
{
  margin-top: 20px;
  font-weight: 500;
  font-size: 60px;
  line-height: 73px;
  z-index: 2;
  position: relative;
  transition: .8s;
}
.b1_title_extra
{
  margin: -131px 0 0 -55px;
  position: absolute;
  width: 174px;
  height: 174px;
}
.b1_reasons
{
  margin-top: 67px;
  display: flex;
  flex-direction: column;
}
.b1_reason
{
  font-weight: 400;
  font-size: 16px;
  display: flex;
  transition: .8s;
  padding: 10px 0;
  cursor: pointer;
}
.b1_reason:hover
{
  transform: translateX(7px);
  transition: .3s;
}
.b1_reason_mark
{
  margin-right: 22px;
  height: 20px;
}



/* BLOCK TWO */
.b2_container
{
  color: #1D1D1F;
  margin-top: 183px;
}

/* image */
.b2_image_back
{
  background: #F3FAFB;
  transition: .8s;
  margin: 0 0 auto 40px;
}
.b2_image_back:hover
{
  transform: translateY(-30px);
  transition: .9s;
}
.b2_imgback_mobile
{
  display: none;
}
.b2_image
{
  width: 445px;
  height: 513px;
  object-fit: cover;
  margin: 0 0 95px 96px;
  transition: .8s;
}
.b2_image_back:hover .b2_image
{
  transform: translateY(60px);
  transition: .9s;
}

/* text */
.b2_abovetitle
{
  margin-top: 89px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  transition: .8s;
}
.b2_title
{
  margin-top: 20px;
  font-weight: 500;
  font-size: 60px;
  line-height: 73px;
  z-index: 2;
  position: relative;
  transition: .8s;
}
.b2_title_extra
{
  margin: 118px 0 0 -55px;
  position: absolute;
  width: 174px;
  height: 174px;
}

/* counter */
.b2_counters
{
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  z-index: 2;
}
.b2_counters .counter_container
{
  flex-direction: column;
  display: flex;
  align-items: center;
  transition: .8s;
}
.b2_counters .counter
{
  font-weight: 600;
  font-size: 40px;
  color: #06C167;
}
.b2_counters .counter_text
{
  font-weight: 400;
  font-size: 15px;
  color: #1D1D1F;
  opacity: 0.65;
  transition: .5s;
  text-align: center;
}
.b2_button
{
  margin: 51px auto 0 0;
}



/* BLOCK THREE */
.b3_container
{
  margin-top: 197px;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* text */
.b3_abovetitle
{
  font-weight: 500;
  font-size: 15px;
}
.b3_title
{
  font-weight: 500;
  font-size: 60px;
  margin-top: 20px;
}

/* blocks */
.b3_places_container
{
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.b3_place
{
  height: 292.5px;
  flex-direction: row;
  display: flex;
}
.b3_place_image
{
  width: 292.5px;
  height: 100%;
}
.b3_place_textblock
{
  height: 289.5px;
  width: 289.5px;
  border: 1.5px solid #06C167;
  background: #F3FCF7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.b3_place_textblock_title
{
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin: 37px 0 0 37px;
}
.b3_place_textblock_subtitle
{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 37px;
}
.b3_place_textblock_button
{
  color: #06C167;
  padding: 11.5px 14px;
  background: #E6F9F0;
  display: block;
  transition: 0.4s;
  margin:0 auto 37px 37px;
}
.b3_place_textblock_button:hover
{
  background: #c7f1de;
  color: #00b25c;
}
.b3_place_textblock_button_arrow
{
  transition: 0.7s;
  width: 12.2px;
  margin:0 0 1px 8.78px;
}
.b3_place_textblock_button:hover .b3_place_textblock_button_arrow
{
  transform: translateX(.025in);
}



/* BLOCK FOUR */
.b4_container
{
  margin-top: 192px;
  align-items: flex-start;
  flex-direction: column;
}

/* text */
.b4_abovetitle
{
  font-weight: 500;
  font-size: 15px;
}
.b4_title
{
  font-weight: 500;
  font-size: 60px;
  margin-top: 20px;
}

/* blocks */
.b4_places_container
{
  margin-top: 63px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
.b4_place
{
  width: 266px;
  height: 441px;
  border: 2px solid rgba(118, 118, 117, 0.25);
  flex-direction: column;
  display: flex;
  transition: .45s;
  align-items: center;
}
.b4_place:hover
{
  border: 2px solid #06C167;
}
.b4_place_rating
{
  width: 100px;
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.b4_place_rating_star
{
  height: 15px;
}
.b4_place_image_box
{
  margin-top: 23px;
  width: 71.4%;
}
.b4_place_image
{
  border-radius: 50%;
  width: 100%
}
.b4_place_name
{
  font-weight: 400;
  font-size: 20px;
  margin-top: 21.5px;
  text-align: center;
}
.b4_place_price_container
{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}
.b4_place_price
{
  font-weight: 400;
  font-size: 20px;
  color: #06C167;
  margin: 0 4px;
}
.b4_place_oldprice
{
  font-weight: 600;
  font-size: 20px;
  text-decoration-line: line-through;
  color: #767675;
  opacity: 0.35;
  margin: 0 4px;
}
.b4_button
{
  margin-top: 29px;
  font-weight: 400;
  font-size: 16px;
  color: #06C167;
  width: 66.5%;
  height: 55px;
  border: 2px solid #06C167;
  text-align: center;
  transition: .4s;

  display: flex;
  justify-content: center;
  align-items: center;
}
.b4_button:hover
{
  font-weight: 700;
  background: #06C167;
  color: white;
}



/* Banner */
.banner1
{
  background: linear-gradient(0deg, rgba(2, 2, 2, 0.59), rgba(2, 2, 2, 0.59)), url(assets/images/banner1.webp);
  height: 459px;
  margin-top: 193px;
  width: 100%;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner1_text
{
  margin-top: 110px;
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  color: #FFFFFF;
  max-width: 800px;
}
.banner1_button
{
  margin: 37px 0 0 0;
  padding: 30px 40px;
  transition: .45s;
}
.banner1_button:hover
{
  background: #0a9d55;
}



/* FOOTER */
.footer
{
  margin: 64px auto 150px auto;
}

.footer_mainblock
{
  display: flex;
  flex-direction: column;
  margin-top: 76px;
}
.footer_mainblock_title
{
  font-weight: 500;
  font-size: 32px;
  color: #06C167;
  margin-bottom: 25px;
}
.footer_mainblock_social
{
  margin-top: 51px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  width: 100px;
}
.footer_mainblock_social_icon
{
  height: 20px;
}
.footer_mainblock_social_icon img
{
  height: 100%;
  padding: 10px;
  margin: -10px;
}

.footer_secondblock
{
  display: flex;
  flex-direction: column;
  margin-top: 86px;
}
.footer_secondblock_title
{
  font-weight: 500;
  font-size: 24px;
  color: #1D1D1F;
  margin-bottom: 25px;
}
.footer_secondblock_link
{
  padding: 8px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1D1D1F;
  max-width: 110px;
  transition: .4s;
}
a.footer_secondblock_link:hover
{
  color: #06C167;
}
.footer_mainblock_desk
{
  max-width: 284px;
}
.footer_secondblock_desk
{
  max-width: 338px;
}

.footer_subscripe_block
{
  flex-direction: row;
  display: flex;
}
.footer_subscribe_input
{
  margin-top: 37px;
  height: 50px;
  width: 181px;
  background: #F0F1EC;
  padding-left: 24px;
  border: 0;
  font-size: 14px;
  color: #848584;
}
.footer_subscribe_button
{
  padding: 16px 25px;
  vertical-align: middle;
  margin: 37px 0 0 15px;
}





/* ADAPTATION */
.sidenav_button
{
  display: none;
}
.sidenav_menu
{
  display: none;
}

/* Medium tablet */
@media (max-width: 1210px)
{
  .intro_featureblock
  {
    width: 56%;
  }
  .adaptive_title
  {
    font-size: 50px;
    line-height: 69px;
  }
  .container_flex
  {
    width: 95%;
  }
  .b3_container
  {
    width: 100%;
  }
}

/* Mini tablet */
@media (max-width: 1024px)
{
  .adaptive_title
  {
    font-size: 35px;
    line-height: 53px;
  }
  .b2_counters
  {
    margin-top: 35px;
    flex-direction: column;
  }
  .counter_container
  {
    margin-top: 5px;
  }
}

/* Nano tablet and phone */
@media (max-width: 960px)
{
  /* INTRO */
  .intro
  {
    height: auto;
    margin-bottom: 484px;
  }
  .intro_content
  {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .intro_image_extra
  {
    right: -25px;
  }
  .intro_title
  {
    margin-top: 51px;
    font-weight: 600;
    font-size: 51px;
    line-height: 62px;
  }
  .intro_image_container
  {
    margin-top: 47px;
    width: auto;
    justify-content: center;
    align-items: end;
    display: flex;
    max-width: 533px;
  }
  .intro_image
  {
    animation: 0;
    min-height: 0;
  }
  .intro_image_review
  {
    animation: 0;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
  }
  .intro_image_ratings
  {
    animation: 0;
    margin-bottom: 63px;
  }
  .intro_image_extra
  {
    animation: 0;
  }
  .button
  {
    margin: 53px auto 0 0;
    width: calc(100% - 60px);
    text-align: center;
  }
  .intro_subtitle
  {
    margin-top: 25px;
  }
  .intro_navbar
  {

  }
  .intro_links
  {
    display: none;
  }
  .intro_featureblock
  {
    margin: 52px auto 0 auto;
    gap: 31px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 533px;
  }
  .rels
  {
    flex-wrap: wrap;
  }
  .rel
  {
    height: auto;
    text-align: center;
    flex-direction: column;
  }
  .rel_icon_background
  {
    margin: 0 auto 21px auto;
  }

  /* GLOBAL */
  .container_flex
  {
    width: 86%;
    flex-direction: column;
  }
  .rels
  {
    display: grid;
    grid: auto-flow / auto auto;
    justify-content: space-around;
    gap: 43px;
    margin: 60px auto;
  }
  .rel
  {
    margin: 0;
  }
  .container
  {
    width: 86%;
    margin-bottom: -236px;
  }
  .adaptive_title
  {
    font-size: 35px;
    line-height: 42px;
  }

  /* SIDENAV */
  .sidenav_menu
  {
    background: #F3FCF7;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transition: .85s;
    transform: translateX(100vw);
    display: block;
  }
  .sidenav_menu_container
  {
    margin: 25px 30px 0 30px;
  }
  .sidenav_links
  {
    margin-top: 35px;
    flex-direction: column;
    display: flex;
  }
  .sidenav_menu_link
  {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background: #06C167;
    margin-bottom: 12px;
  }
  .sidenav_button
  {
    border: 2px solid #06C167;
    padding: 11px 13px;
    display: block;
  }
  .sidenav_button img
  {
    height: 16px;
  }

  /* Block 1*/
  .b1_image
  {
    margin: 0 23px 25px 23px;
    width: calc(100% - 46px);
    height: 417px;
    margin-top: -29px;
  }
  .b1_container
  {
    margin-top: 90px;
    text-align: center;
    max-width: 376px;
  }
  .b1_image_back
  {
    margin: 0;
    background: #F0F1EC;
  }
  .b1_reasons
  {
    margin-top: 52px;
  }
  .b1_abovetitle
  {
    margin-top: 57px;
  }

  /* Block 2*/
  .b2_image
  {
    margin: 0 22px 25px 22px;
    width: calc(100% - 44px);
    height: 489px;
    margin-top: -61px;
  }
  .b2_container
  {
    margin-top: 130px;
    text-align: center;
    max-width: 376px;
  }
  .counter_container
  {
    margin-bottom: 39px;
  }
  .b2_button
  {
    margin-top: 27px;
  }
  .b2_counters
  {
    margin: 53px auto 0 auto;
  }
  .b2_title
  {
    margin-top: 13px;
  }
  .b2_abovetitle
  {
    margin-top: 35px;
  }
  .b2_image_back
  {
    margin: 0;
    background: #F0F1EC;
  }
  .b2_imgback_mobile
  {
    display: block;
  }
  .b2_imgback_pc
  {
    display: none;
  }

  /* Block 3 */
  .b3_container
  {
    margin-top: 129px;
    max-width: 376px;
    text-align: center;
  }
  .b3_title
  {
    margin-top: 13px;
  }
  .b3_place
  {
    height: auto;
    flex-direction: column;
  }
  .b3_place_image
  {
    width: 100%;
    height: auto;
  }
  .b3_place_textblock
  {
    width: auto;
    text-align: left;
  }
  .b3_place_inv
  {
    flex-direction: column-reverse;
  }

  /* Block 4 */
  .b4_container
  {
    margin-top: 129px;
    align-items: center;
    text-align: center;
  }
  .b4_title
  {
    margin-top: 13px;
    text-align: center;
  }
  .b4_places_container
  {
    margin-top: 69px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 37px;
  }

  /* Banner 1 */
  .banner1_container
  {
    width: 100%;
  }
  .banner1_text
  {
    margin-top: 102px;
    max-width: 78%;
  }
  .banner1
  {
    margin-top: 68px;
  }
  .banner1_button
  {
    margin: 53px auto 0 auto;
    width: calc(78% - 80px);
  }

  .footer
  {
    text-align: center;
  }
  .footer_mainblock
  {
    margin: 76px auto 0 auto;
  }
  .footer_mainblock_social
  {
    margin: 51px auto 0 auto;
  }
  .footer_secondblock
  {
    margin: 86px auto 0 auto;
  }
  .footer_subscribe_button
  {
    margin: 37px auto 0 0;
    width: auto;
  }
}
